<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2013 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
      Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipselabs.emf.loophole.internal.model.presentation.LoopholeModelWizardID"
            name="%_UI_LoopholeModelWizard_label"
            class="org.eclipselabs.emf.loophole.ui.internal.model.editor.LoopholeModelWizard"
            category="org.eclipse.emf.codegen.ecore.ui.wizardCategory"
            icon="icons/full/obj16/NewLoopholeModel.gif">
         <description>%_UI_LoopholeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipselabs.emf.loophole.internal.model.presentation.LoopholeEditorID"
            name="%_UI_LoopholeEditor_label"
            icon="icons/full/obj16/LoopholeModelFile.gif"
            extensions="gengapmodel"
            class="org.eclipselabs.emf.loophole.ui.internal.model.editor.LoopholeEditor"
            contributorClass="org.eclipselabs.emf.loophole.ui.internal.model.editor.LoopholeActionBarContributor">
         <contentTypeBinding
               contentTypeId="org.eclipselabs.emf.loophole">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipselabs.emf.loophole.ui.reloadModel"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipselabs.emf.loophole.ui.reloadModel"
            name="Reload...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipselabs.emf.loophole.ui.internal.handler.ReloadModel"
            commandId="org.eclipselabs.emf.loophole.ui.reloadModel">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipselabs.emf.loophole">
               </test>
            </iterate>
         </activeWhen>
      </handler>
   </extension>

</plugin>
